.navbar-custom__logo {
    position: relative;
    font-size: 1.2rem;
    font-weight: 600;
    padding-right: 1rem;
    color: var(--text-color-white) !important;
}

.navbar-custom__logo::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 60%;
    border-right: 2px solid var(--color-dark-variant);
}

a.nav-link {
    font-weight: 600;
}

header form {
    padding: 0;
    position: relative;
}
